@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
/* Add a background image to the container element */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.25s all ease;
}

html {
  font-size: 10px;
  font-family: "Josefin Sans", sans-serif;
  min-width: 65rem;
  background: white
}

:root {
--primary-color: #1d1d1d;
--table-background: #f2ebffc8;
--table-header: rgba(22, 0, 121, 0.881);
}

.p_container {
  display: flex;
  width: 100%;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
}

/* Define the sidebar element and set its properties */
.sidebar {
  position: fixed;
  margin-top: 7.2rem;
  background-color: #000000;
  color: #fff;
  width: 30rem;
  padding: 1rem;
  height: 100vh;
}

/* Remove default list styling from sidebar unordered list */
.sidebar ul {
  list-style: none;
}

.sidebar h2 {
  color: rgb(255, 253, 212);
  list-style: none;
  margin-bottom: 1rem;
  font-size: 2rem;
  text-align: center;
}
#s_mail{
  font-size: 1.7rem;
}

/* Set styling for each item in sidebar unordered list */
.sidebar li {
    text-align: center;
    padding: 1rem 0;
    cursor: pointer;
    font-size: 1.8rem;
}

/* Set styling for the active item in sidebar unordered list */
.sidebar li.active {
  font-weight: bold;
  color: #e2f6ff;
  background-color: #5418cc62;
  border-left: #ff0000 solid 0.8rem;
  border-radius: .5rem;
}


/* Define the main content area and set its properties */
.main {
  flex: 1;
  padding: 4rem 2rem 4rem 32rem;
}


/* Hide all sections by default */
.section {
  display: none;
}

/* Show the active section */
.section.active {
  display: block;
}

/* Define styles for forms and form elements */
.form_ctrl {
  background: linear-gradient(#ffffff, rgba(252, 252, 252, 0.95));
  padding: 4rem 8rem;
  display: flex;
  flex-direction: column;
  max-width: 70rem;
  margin: auto;
  margin-top: 2rem;
  background-color: #ffffff45;
  border-radius: 1rem;
  box-shadow: 0.2rem 0.1rem 1rem rgba(0, 0, 0, 0.2);
}

.searchLabel {
  margin-right: 2rem;
  font-size: 1.9rem;
  font-weight: 600;
}


.form-control {
  font-size: medium;
  padding: 1.5rem;
  margin-bottom: 2rem;
  border-radius: 1rem;
  border: 1px solid #000000;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

/* Search input styling */
.form-group {
  display: flex;
  align-items: center;
}

.search {
  padding: 7px;
  border: 2px solid #663399;
  border-radius: 5px;
  width: 40rem;
}


select {
    padding: 0.5rem;
    margin-bottom: 1.5rem;
    border-radius: 1rem;
    border: 1px solid #000000;
    box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
}

h2 {
  font-family: 'Arial', sans-serif;
  color: #333;
  text-align: center;
}

#totalFine {
  font-size: 24px;
  font-weight: bold;
  color: #ff5733; /* Adjust the color as needed */
}

#bKash_button {
  height: 40px;
  width: 40px;
  padding:12px 10px;
  font-size: 18px;
  margin: 1px 10px;;
  background-color: #ffffff;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.2s;
  background-image: url('./bkash/bKash.png');
  background-position: center; /* Center the logo within the button */
  background-repeat: no-repeat;
  background-size: contain; /* Adjust based on your logo dimensions */
}

#bKash_button:hover {
  background-color: #a9ffad;
  scale: 1.03;
}


#updateProfileButton:hover {
  background-color: #cccfff;
  color: #003366;
}

#updateProfileButton {
font-size: 1.5rem;
font-weight: bold;
text-align: center;
margin-left: auto;
margin-right: auto;
margin-top: 2rem;
width: 20rem;
padding: 0.8rem;
border-radius: 1rem;
border: #ddd;
background-color: #ffca4d;
color: #000000;
cursor: pointer;
box-shadow: 0.2rem 0.2rem 0.5rem rgba(0, 0, 0, 0.268);
}

.tblbtn{
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 12rem;
  padding: 0.8rem 1rem;
  border-radius: 1rem;
  border: #ddd;
  background-color: #c4c8ff;
  box-shadow: 0.12rem 0.12rem 0.1rem rgb(0, 2, 103);
  color: #000000;
  cursor: pointer;
}

.tblbtn:hover {
  background-color: #69b4ff;
}

.container,
.small-container,
.medium-container {
    width: 100%;
  max-width: 130rem;
  margin: auto;
  padding: 0 2rem;
}

.small-container {
  max-width: 100rem;
}

.medium-container {
  max-width: 120rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

.main {
  margin-top: 7.3rem;
}
.main button {
  font-size: 15px;
}


.nav {
  padding-top: 1.2rem;
  width: 100%;
  height: 7.2rem;
  position: fixed;
  line-height: 5rem;
  background-color: #33009aeb;
  justify-content: center;
  z-index: 1;
}
.circular--square { 
  border-top-left-radius: 50% ; 
  border-top-right-radius: 50%; 
  border-bottom-right-radius: 50%; 
  border-bottom-left-radius:50%;
  margin-left: 3%;
}
#profilePicture{
  width: 5rem;
  height: 5rem;
  margin-left: 3%;
  margin-right: 3%;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  border: 2px solid #ffb700;
  box-shadow: 0 0.2rem 0.4rem rgba(0, 0, 0, 0.2);
  object-fit: cover;
}

  .logout-container a {
    position: relative;
    text-decoration: none;
    margin-inline-end: 10rem;
  }
  
  .logout-container img {
    border-radius: 55%;
    width: 40px; /* Adjust the width and height as needed */
    height: 40px;
    vertical-align: middle;
  }


  .file-container {
    margin-top: 4rem;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .file-input {
    font-size: 1.6rem;
    background: white;
    border-radius: 5rem;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
    width: 100%;
    cursor: pointer;
    outline: none;
    padding: 0.5rem 2rem;
  }
  
  .file-input::before {
    content: "Select Profile Picture";
    display: inline-block;
    color: black;
    font-weight: 500;
    font-size: 1.6rem;
    text-align: center;
    padding: 0.6rem 1rem;
    white-space: nowrap;
    cursor: pointer;
    border-radius: 5rem;
    transition: 0.25s;
  }
  
  .file-input:hover::before {
    background-color: #6cff62;
    color: rgb(11, 0, 54);
  }
  
  .file-input:active {
    box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.2);
  }
  
  .file-input:hover {
    background-color: #a6ff9f;
    color: rgb(11, 0, 54);
  
  }
  
  ::-webkit-file-upload-button {
    visibility: hidden;
  }


  


/* Header styling */
.card-body h2 {
  color: #663399;
  text-align: center;
  margin-bottom: 20px;
}

/* Total Fine span styling */
#totalFine {
  font-size: 24px;
  color: #800080; /* Purple color for total fine */
}

/* Button styling */
#bKash_button {
  background-color: #800080; /* Purple color for the button */
  color: #fff; /* White text color */
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

/* Table styling */
#borrowedBooksTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

#borrowedBooksTable th, #borrowedBooksTable td {
  border: 1px solid #663399;
  padding: 10px;
  text-align: center;
}

#borrowedBooksTable th {
  background-color: var(--table-header); /* Purple color for table header */
  color: #fff; /* White text color for table header */
}

/* Table body styling */
#borrowedBooksList tr:hover {
  background-color: #f8f5ff; /* Light purplish background on hover */
}

/* Fine cell styling */
#borrowedBooksTable td:nth-child(7) {
  color: #ff0000; /* Red color for overdue days */
  font-weight: bold;
}

/* Overdue days cell styling */
#borrowedBooksTable td:nth-child(6) {
  color: #800080; /* Purple color for fine amount */
  font-weight: bold;
}

.cReg hr {
  border: 1px solid #663399; /* Dark purple horizontal rule */
  margin: 10px 0;
}

/* Card styling */
.card {
  border: 1px solid #663399; /* Dark purple border for the card */
  border-radius: 10px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 20px 20px;

}

.search-body {
  display: flex;
  justify-content: center;
  align-items: center;
}


#allBooksTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: auto; /* Enable both horizontal and vertical overflow */
}

#allBooksTable th, #allBooksTable td {
  border: 1px solid #663399;
  padding: 10px;
  text-align: center;
}

#allBooksTable th {
  background-color: var(--table-header);
  color: #fff;
}

/* Table body styling */
#allBooksList tr:hover {
  background-color: #f8f5ff;
}

/* Reserved column styling */
#allBooksTable td:nth-child(6) {
  color: #800080;
  font-weight: bold;
}

.card-body {
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: none;
  max-width: 100%;
  overflow: auto; /* Enable horizontal overflow for the container */
}


#eBooksTable {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  overflow: auto; /* Enable both horizontal and vertical overflow */
}

#eBooksTable th, #eBooksTable td {
  border: 1px solid #663399;
  padding: 10px;
  text-align: center;
}

#eBooksTable th {
  background-color: var(--table-header);
  color: #fff;
}

/* Table body styling */
#eBooksList tr:hover {
  background-color: #f8f5ff;
}

/* Reserved column styling */
#eBooksTable td:nth-child(6) {
  color: #800080;
  font-weight: bold;
}

@media (max-width: 560px) {
  .nav-text {
    font-size: 26px;
  }
}

@media (max-width: 768px) {
  .p_container {
    flex-direction: column;
    align-items: center;
    min-height: 205vh;
  }

  .circular--square{
    margin: auto;
    padding: auto;
    display: block;
  }

  .sidebar{
    width: 100%;
    padding: 1rem;
    display: block;
    position: relative;
    height: fit-content;
  }
  .main{
    padding: 2rem;
  }

  .form_ctrl {
    font-size: 1.2rem;
  }

  button{
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

}